/* @components/blockchain/Blockchain.js */
/* @components/settings/Settings.js */
/* @components/transactions/CreateTransaction.js */
/* @components/transactions/PendingTransactions.js */
.container {
  margin-top: 7rem;
  left: 1rem;
}

/* @components/blockchain/Block.js */
.card {
  width: 18rem;
  display: inline-block;
  margin: 0 10px 10px 0;
}

/* @components/layout/Navbar.js */
.btn-outline-light {
  margin-right: 0.5rem;
}

.collapse navbar-collapse {
  position: relative;
}

.navbar-nav {
  position: absolute;
  right: 0;
}

@media only screen and (max-width: 992px) {
  .navbar-nav {
    position: relative;
  }
  .nav_btn {
    width: 25%;
    margin: 0.5rem 0;
  }
}

@media only screen and (max-width: 600px) {
  .nav_btn {
    width: 50%;
  }
}

@media only screen and (max-width: 300px) {
  #nav_brand {
    font-size: 0.9rem;
  }
}
